.container {
   background-color: rgb(10, 10, 10); 
   /* justify-content: center; */
   align-items: center;
   display: flex;
   flex-direction: column;
   width: 50vw;
   height:40vh;
   min-width: 300px;
   max-width: 400px;
   min-height: 400px;
   border-radius: 20px;
   box-shadow: 3px 3px red;
}
.head {
    align-self: center;
    width: 93%;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
}
.texthead {
    color: white;
    font-size: 2.3rem;
    font-family: cursive;
    -webkit-text-stroke: 1px red;
}
.insideContainer {
    height:88%;
    width:100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;  
}
.inputbox {
    width:99%;
    height:45px;
    text-align: center;
    justify-content: 'center';
    border-radius: 10px;
    padding:0;
    margin:15px 0;
    font-size: 1.1rem;
}
.button {
    width:80%;
    /* height:40px; */
    text-align: center;
    background-color: red;
    justify-content: 'center';
    border-radius: 10px;
    margin-top:20px;
    padding:0;
    transition: all 2.5s;
}
.button:hover {
    background-color: rgba(167, 6, 6, 0.772);
}
.button > h4 {
    margin:12px auto;
}
a:-webkit-any-link {
    text-decoration: none;
}